.form__autorization {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 8px 0;
    background-color: #000000;
    color: #FFFFFF;
    max-width: 358px;
    width: 100%;
}

@media (max-width: 912px) {
    .form__autorization {
        max-width: 260px;
    }
}