.profile__avatar{
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}


.profile__avatar-container:hover > .profile__avatar{
    transition-property: opacity;
    transition-duration: 0.5s;
    opacity: 0.5;
}