.main{
    display: flex;
    flex-direction: column;
    max-width: 880px;
    width: 100%;
    color: #ffffff;
    flex: 1;
}

@media screen and (max-width: 912px) {
    .main{
        max-width: 768px;
    }
}

@media screen and (max-width: 380px) {
    .main{
        max-width: 280px;
    }
}